[submodule "components/ESP32_SwITCH_Module"]
	path = components/ESP32_SwITCH_Module
	url = https://github.com/EcSUHA/ESP32_SwITCH_Module.git
[submodule "components/ESP32_Control_Module"]
	path = components/ESP32_Control_Module
	url = https://github.com/EcSUHA/ESP32_Control_Module.git
[submodule "components/ESP32_S0_Module"]
	path = components/ESP32_S0_Module
	url = https://github.com/EcSUHA/ESP32_S0_Module.git
[submodule "components/TeLNET_Module"]
	path = components/TeLNET_Module
	url = https://github.com/EcSUHA/TeLNET_Module
[submodule "components/SSD1306_Module"]
	path = components/SSD1306_Module
	url = https://github.com/EcSUHA/SSD1306_Module
[submodule "components/BH1750_Module"]
	path = components/BH1750_Module
	url = https://github.com/EcSUHA/BH1750_Module
